@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1C1C1D;
    color: white;
  }
}